<h3>Editing Student</h3>

<%= render 'form', student: @student %>
<div class="mdl-cell mdl-cell--1-col">
  <%= link_to 'Show', @student, class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored' %>
</div>
<div class="mdl-cell mdl-cell--1-col">
  <%= link_to 'Back', students_path, class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--accent' %>
</div>