<div class="mdl-cell--2-col">
  <div class="mdl-layout-spacer"></div>
</div>
<h3>New Student</h3>

  <%= render 'form', student: @student %>
  <div class="mdl-cell mdl-cell--4-col">
    <%= link_to 'Back', :back, class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--accent' %>
  </div>
