<div class="mdl-cell mdl-cell--12-col">
<h3>New Student</h3>
</div>
  <%= render 'form', student: @student %>
  <div class="mdl-cell mdl-cell--4-col">
    <%= link_to 'Back', :back, class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--accent' %>
  </div>
