<h3>New Student Fee</h3>

<%= render 'form', student_fee: @student_fee %>
<div class="mdl-cell mdl-cell--4-col">
  <%= link_to 'Back', student_fees_path, class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--accent' %>
</div>
</div>