<h3>New Office Expense</h3>

<%= render 'form', office_expense: @office_expense %>
<div class="mdl-cell mdl-cell--4-col">
  <%= link_to 'Back', :back, class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--accent' %>
</div>
</div>