.is-focused > .mdl-textfield__input{
    border-bottom: none !important;
}

.mdl-layout__drawer > .mdl-layout-title{
    background-color: #00acc1;
}

.select-editable {
    position:relative;
    background-color:white;
    border:solid grey 1px;
    width:120px;
    height:18px;
}
.select-editable select {
    position:absolute;
    top:0;
    left:0;
    font-size:14px;
    border:none;
    width:120px;
    margin:0;
}
.select-editable input {
    position:absolute;
    top:0;
    left:0;
    width:100px;
    padding:1px;
    font-size:12px;
    border:none;
}
.select-editable select:focus, .select-editable input:focus {
    outline:none;
}
table > thead{
    background-color: #46B6AC;
}
table > thead > tr > th{

    color: #ffffff !important;
}

div.data-list{
    line-height: normal;
    padding-top: 10px;
    padding-bottom: 10px;

}
div.data-list > span{
    float: right;
}